
footer {
    text-align: center;
    font-size: 14px;
    font-weight: bolder;

    color: #f9d3b4;
    background-color: rgba(45, 45, 45, 11);
}

.info {
    color: #000;
}

.quadro {
    background-color: #E9E9E9;
    margin-top: 20px;
}
