footer{
    text-align: center;
    font-size: 14px;
    padding: 24px;
    font-weight: bolder;
    color: #f9d3b4;
    background-color: rgba(45, 45, 45, 11);
}

footer a{
    text-decoration: none;
    color: #f9d3b4;
}
footer p ion-icon{
    color: red;
}
.informacoes{
    margin: 30px;
}
.quadro{
    color: rgb(255, 255, 255);
} 